apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ .ClusterCA | base64enc }}
    server: "{{ .APIServerURL }}"
  name: {{ .ClusterName }}
contexts:
- context:
    cluster: {{ .ClusterName }}
    user: {{ .Username }}
  name: {{ .ClusterName }}
current-context: {{ .ClusterName }}
kind: Config
preferences: {}
users:
- name: {{ .Username }}
  user:
    auth-provider:
      config:
        idp-issuer-url: {{ .IssuerURL }}
        idp-certificate-authority-data: {{ .TrustedCA | base64enc }}
        client-id: {{ .ClientID }}
        client-secret: {{ .ClientSecret }}
        id-token: {{ .IDToken }}
        refresh-token: {{ .RefreshToken }}
      name: oidc
